{%include 'main.html'%}
{%block content%}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.image{
			width: 100%;
			opacity: 0.4;
			margin-bottom: -460px;
		}
		.title{
			color: white;
			left: 0;
			right: 0;
			width: 40%;
			transform: translate(60%,-270px);
		}
        ol{
        	padding-left: 2%;
        }
	</style>
</head>
<body style="background-color: black;">
	<img  class='image'src="https://wallpaperaccess.com/full/1893200.jpg">
	<div class="title">
		<h1><u><b><i style="color:crimson;padding-left: 40%;">TITLE</i></b></u></h1>
		<ol>
		{%for s in data%}
		<li>{{s.title}}<h6 style="background-color:none;color: yellow;">{{s.about}}</h6><a style="margin-left: 10%;text-decoration: none;" href="{% url 'todoedit1' s.id%}">EDIT_TITLE</a></li>
		<hr>
		{%endfor%}
		</ol>
    </div>
</body>
{%include 'footer.html'%}
{%endblock%}