{%block content%}
<head>
  <style type="text/css">
    .nav {
      background-image:radial-gradient(#6555e2,#bd8282,#250ee6);
    }
    .align_add{
      margin-left: -850px;
      /*margin-right: 10px;*/
    }
    .align_view{
      margin-left: -850px;
      /*margin-right: 10px;*/
    }
    .logo:hover{
      border: 3px solid red;
    }
  </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
	<div class="divabc">
	<nav class="navbar navbar-expand-lg navbar-light bg-light nav">
      <div class="container-fluid">
       <a class="navbar-brand " href="{%url 'home'%}">HOME</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> -->
    
        <a class="navbar-brand align_add" href="{%url 'todoadd'%}">ADD NEW</a>
        <a class="navbar-brand align_view" href="{%url 'view'%}">VIEW DETAILS</a>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'todoadd'%}">ADD NEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'view'%}">VIEW DETAILS</a>
        </li>
     </ul> -->
    
      <a  class="logo" href="https://www.rolls-roycemotorcars.com/en_GB/home.html" target="_blank"><img src="https://i.pinimg.com/originals/24/3d/53/243d53e70d87485eeb6ba64c9b280fed.jpg" width="70px" height="50px" ></a>

      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
  </div>

{%endblock%}      