{%include 'main.html'%}
<head>
	<style type="text/css">
    
    .bg-img{
      opacity: 0.3;
      width: 100%;
    }
    .div1-align{
      transform: translate(0px,-650px);
    }
    .div2-align{
      transform: translate(0px,-620px);
      margin-bottom: -650px;
    }
   
    .video{
      
      margin-bottom: -50px;
    }
    .div-img{
      margin: 1%;
      padding: 0%;
    }
    .div-img:hover{
      border:4px solid blue;
    }
    .vid{
      padding: 5% 35%;
      z-index: 5;
    }
    .video:hover{
      border:8px solid red;
    }
	</style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color:black;width: 100%;">
  <img class="bg-img" src="https://wallpaperaccess.com/full/1893200.jpg">

  <div class="div1-align">
    <a target='_blank'href="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2020/02/maxresdefault-1580807817.jpg"><img  class="div-img"src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2020/02/maxresdefault-1580807817.jpg" width="275"height='200'></a>
  
    <a  target='_blank'href="https://images-na.ssl-images-amazon.com/images/I/41x2K3KRX6L.jpg"><img class="div-img" src="https://images-na.ssl-images-amazon.com/images/I/41x2K3KRX6L.jpg" width="275"height='200'></a>
  
    <a  target='_blank'href="https://www.gannett-cdn.com/-mm-/fa74045ef27d3a8fa75200d01b5fd60c219ecf48/c=0-377-7360-4535/local/-/media/2016/06/16/USATODAY/USATODAY/636016673313122678-Rolls-Royce-Vision-Next-100-1.jpg?width=3200&height=1808&fit=crop&format=pjpg&auto=webp"><img class="div-img" src="https://www.gannett-cdn.com/-mm-/fa74045ef27d3a8fa75200d01b5fd60c219ecf48/c=0-377-7360-4535/local/-/media/2016/06/16/USATODAY/USATODAY/636016673313122678-Rolls-Royce-Vision-Next-100-1.jpg?width=3200&height=1808&fit=crop&format=pjpg&auto=webp" width="275"height='200'></a>
    <a  target='_blank'href="https://www.autocar.co.uk/sites/autocar.co.uk/files/images/car-reviews/first-drives/legacy/sweptail.jpg"><img class="div-img" src="https://www.autocar.co.uk/sites/autocar.co.uk/files/images/car-reviews/first-drives/legacy/sweptail.jpg" width="275"height='200'></a>
  </div>
  <div class="div2-align">
    <a target='_blank'href="https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1438852520/p/photo/image/800437/Strategy__Rolls_Royce_HQ_-_Hufton_Crow_015.jpg"><img  class="div-img"src="https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1438852520/p/photo/image/800437/Strategy__Rolls_Royce_HQ_-_Hufton_Crow_015.jpg" width="275"height='200'></a>
  
    <a target='_blank'href="https://i.guim.co.uk/img/media/d835391011457e0c883735c2cfc19fa1d99f5e74/0_153_2126_1276/master/2126.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&s=7a3cb5a143ec9f7d87d8b77fcdfe4224"><img  class="div-img"src="https://i.guim.co.uk/img/media/d835391011457e0c883735c2cfc19fa1d99f5e74/0_153_2126_1276/master/2126.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&s=7a3cb5a143ec9f7d87d8b77fcdfe4224" width="275"height='200'></a>
  
    <a target='_blank'href="https://www.thestatesman.com/wp-content/uploads/2020/12/Rolls-Royceians.jpg"><img  class="div-img"src="https://www.thestatesman.com/wp-content/uploads/2020/12/Rolls-Royceians.jpg" width="275"height='200'></a>
    <a target='_blank'href="https://blackburnnews.com/wp-content/uploads/2017/05/Rolls-royce2-400x250.jpg"><img  class="div-img"src="https://blackburnnews.com/wp-content/uploads/2017/05/Rolls-royce2-400x250.jpg" width="275"height='200'></a>
  </div>
  <div class="vid">
    <h5 style="color: white;">____New GHOST Introduction____</h5>
    <a target='_blank'href="https://www.youtube.com/embed/41Gz8fpy9qk"><img class='video'src="https://blog.majestic.com/wp-content/uploads/2010/10/Video-Icon-crop.png" width="275" height="215" alt="Rolls_Royce Introduction____"></img></a>
  </div>
</body>
 {%include 'footer.html'%}