{%include 'main.html'%}
{%block content%}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.image{
			width: 100%;
			opacity: 0.4;
			margin-bottom: -70px;
		}
    ol{
      padding-left: 2%;
    }
    form{
    	transform: translate(30%,-430px);
    }
	</style>
</head>
<body style="background-color: black;">
	<img  class='image'src="https://wallpaperaccess.com/full/1893200.jpg">
	<form method="POST">
		{%csrf_token%}

		<h4 style="color: red;">Are You Sure To delete : ' {{form1.title}} '</h4>
		<input type="submit" name="yes">
        <a href="{%url 'newapp12:delete1'%}"><input type="button" value="cancel" ></a>		
	</form>
</body>
 {%include 'footer.html'%}
{%endblock%}